@{
    ViewData["Title"] = "Add / Edit";
}
@model FitnessTracker.Models.Person

<div class="text-center">
    <h1 class="display-4">Add Member</h1>
</div>
<form asp-action="AddEditPersonForm" asp-controller="Home">
    <label>Id</label>
    <input class="form-control" type="number"placeholder="0" asp-for="Id" />

    <label class="mt-4">FirstName</label>
    <input class="form-control" type="text" placeholder="Add FirstName" asp-for="FirstName" />

    <label class="mt-4">LastName</label>
    <input class="form-control" type="text" placeholder="Add LastName" asp-for="LastName" />

    <label class="mt-4">Age</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Age" />

    <label class="mt-4">Weight</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Weight" />

    <button class="btn btn-primary mt-4" type="submit">Ok</button> 
</form>